@font-face {
    font-family: 'futur';
    src: url(../fonts/FTR45__C.ttf);
    src: url(../fonts/futur.ttf);
    src: url(../fonts/futur2.ttf);
    src: url(../fonts/FUTURA-N.ttf);
    src: url(../fonts/FUTURA.ttf);
    src: url(../fonts/FUTURA2.ttf);
    src: url(../fonts/FUTURA21.ttf);
    src: url(../fonts/FUTURA4.ttf);
    src: url(../fonts/Futura_20Medium_20BT.ttf);
    src: url(../fonts/FuturaBoldCondensedBT.ttf);

}

div #nav {
    position: absolute;
    position: fixed;
    top: 0;
    background-color: rgb(54, 54, 54, 70%);
    width: 100%;
}

body {
    background-color: rgb(46, 46, 46);
    margin: 0px;
}

header {
    background-color: rgb(46, 46, 46);
}

h1 {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 200px;
    font-family: 'futur';
    font-weight: 100;
    bottom: -50px;
    left: 0;
    right: 0;
    
    
}

h2{
    padding-top: 0;
    margin-top: 0;
    color: #fff;
    font-size: 150px;
    font-family: 'futur';
    font-weight: 100;
    padding-left: 40px;
}

.about{
    font-family: 'futur';
    color: #fff;
    font-size: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: 20%;
    margin-bottom: 0;

}
.home_button{
    height: 50px;
    background: 0;
    border: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-top: 5px;
}

button:hover{
    background-color: rgb(46, 46, 46);
}
.nav-button{
    float: right;
    background: 10;
    background-color: rgb(54, 54, 54);
    border: 0;
    height: 64px;
    margin: 0px;
    width: 150px;
}

a{
    color: rgb(255, 255, 255);
    font-family: 'futur';
    font-size: 20px;
    text-decoration: none;
}

hr{
    background-color: rgb(65, 65, 65);
    color: rgb(65, 65, 65);
    border-color: rgb(65, 65, 65);
    height: 4px;
    margin: 0;
    padding: 0;
    width: 100%;
}



/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33%;
    padding: 0px;
    text-align: center;
    
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

p{
  max-width: 1000px;
  color: #fff;
  font-family: 'futur';
  font-weight: 100;
  font-size: 30px;
}


